/* common */

* { padding: 0; margin: 0; }

html, body { width: 100%; height: 100%; }

body { font: 14px/1.5 "Open Sans", sans-serif; color: #616161; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

a { text-decoration: underline; color: #40a51a; }
a, a:active, a:focus { outline: none; border: none; }
a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { line-height: 1.3; font-weight: 600; }
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; color: #40b51a; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: underline; }
h1 { margin-bottom: 30px; font-size: 30px; }
h2 { margin-bottom: 30px; font-size: 28px; }
h3 { margin-bottom: 20px; font-size: 26px; }
h4 { margin-bottom: 20px; font-size: 24px; }
h5 { margin-bottom: 20px; font-size: 22px; }
h6 { margin-bottom: 20px; font-size: 20px; }

p { margin-bottom: 20px; }

ul, ol, dl { list-style-type: none; }
ol { margin: 0 0 20px 25px; list-style-type: decimal; list-style-position: outside; }

img { border: none; vertical-align: top; }

table { border-collapse: collapse; }
th, td { padding: 10px 20px; border: 1px solid #ccc; }

hr { height: 0; border-bottom: 1px solid #ddd; }

.clear { height: 0; overflow: hidden; clear: both; }
.clearfix:after { content: ""; display: table; clear: both; }

.hidden { display: none; }
.invisible { visibility: hidden; }
.transparent { opacity: 0.4; }




/* fields */
.fld, .btn, select, textarea { box-sizing: border-box; display: inline-block; width: 100%; height: 35px; padding: 0 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 3px; background-color: #fcfcfc; vertical-align: top; text-decoration: none; line-height: 34px; font-family: "Open Sans", sans-serif; font-size: 14px; color: #616161; }
textarea { height: 100px; padding-top: 7px; padding-bottom: 7px; line-height: 1.5; }
input:focus, select:focus, textarea:focus { border-color: #1aad08; outline: none; }

/* buttons */
.btn { width: auto; border-color: #1fad0e; background-color: #28bd16; cursor: pointer; font-weight: normal; color: #fff; }
.btn:hover { border-color: #189e08; background-color: #1aad08; }

/* small btn */
.btn-small { height: 18px; padding: 0 5px; line-height: 14px; font-size: 11px; }

/* captcha reload btn */
.captcha-reload-btn { display: inline-block; width: 20px; height: 20px; margin: 7px 5px 0; border: none; vertical-align: top; background: url("../images/reload_icon.png") no-repeat 0 0; cursor: pointer; }

/* labels */
label { display: block; margin-bottom: 2px; }




/* properties */

/* sizes */
.w-100p { width: 100%; }
.w-100 { width: 100px; }
.mb-10 { margin-bottom: 10px; }
.mb-0 { margin-bottom: 0; }
.mt-20 { margin-top: 20px; }
.ml-10 { margin-left: 10px; }
.mr-10 { margin-right: 10px; }

/* display */
.disp-ib { display: inline-block; }





/* structure */

/* page */
.page { min-height: 100%; }

/* header */
.header { background-color: #40cf1a; }
.header-inner { position: relative; width: 900px; height: 120px; margin: 0 auto; color: #fff; }

/* main */
.main { width: 900px; padding: 40px 20px 100px; margin: 0 auto;}

/* footer */
.footer { clear: both; height: 40px; margin-top: -40px; background-color: #b3b3b3; }
.footer-inner { width: 900px; height: 40px; margin: 0 auto; line-height: 40px; font-size: 12px; }




/* blocks */


/* header */

/* logo */
.logo { position: absolute; left: 0; top: 28px; max-width: 550px; text-decoration: none; font-size: 36px; color: #fff; }

/* langs */
.langs { position: absolute; right: 0; top: 7px; }
.langs form { display: inline-block; vertical-align: middle; }

/* user info */
.user-info { position: absolute; right: 0; top: 42px; }
.user-info strong, .user-info form, .user-info .btn { display: inline-block; vertical-align: middle; }
.user-info strong { font-weight: normal; }
.user-info .btn { margin: 0 0 0 10px; }

/* login */
.login { position: absolute; right: 0; top: 42px; }



/* footer */

/* site name */
.site-name { float: left;  }
.site-name, .site-name a { color: #eee; }

/* copyrights */
.copyrights { float: right; font-size: 12px; }
.copyrights, .copyrights a { color: #eee; }



/* content */



/* loader */
.btn-with-loader { position: relative; }
.btn-with-loader .loader { position: absolute; right: -41px; top: 0; display: block; width: 35px; height: 35px; background: url("../images/loader.gif") no-repeat center center; }
.btn-with-loader .loader-grn { background-image: url("../images/loader_grn.gif"); }
.btn-with-loader .loader.hidden { display: none; }



/* articles */
.article .text { position: relative; }
.article:last-child .text { padding-bottom: 0; margin-bottom: 0; border-bottom: none; }
.article .text, .one-article:last-child .text { padding-bottom: 40px; margin-bottom: 40px; border-bottom: 1px solid #ddd; }
.article .text p:last-child { margin-bottom: 0; }
.article .author { font-style: italic; }
.article .date { margin-left: 5px; font-size: 12px; color: #aaa; }
.article .btn-delete-article { position: absolute; right: 0; top: 0; }



/* comments */
.comment { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ddd; }
.comment:last-child { padding-bottom: 0; margin-bottom: 0; border-bottom: none; }
.comment p { margin-bottom: 5px; }
.comment .leave-comment, .comment .delete-comment { height: 22px; padding: 0; margin: 0 5px; border: none; border-radius: 0; background: none; text-decoration: underline; line-height: 1.5; font-size: 12px; color: #40a51a; }
.comment .leave-comment { margin-left: 0; }
.comment .leave-comment:hover, .comment .delete-comment:hover { text-decoration: none; }

/* comment form */
.comment-form { padding-top: 10px; }
.captcha-pic { height: 35px; }



/* popup */
.popup, .popup-bg { left: 0; top: 0; width: 100%; height: 100%; }
.popup { position: fixed; }
.popup-bg { position: absolute; background-color: #000; opacity: 0.5; }
.popup-box { position: relative; width: 500px; padding: 25px; margin: 50px auto 0; border-radius: 3px; background-color: #fff; }
.popup-close { position: absolute; right: 5px; top: 5px; display: block; width: 24px; height: 24px; border: none; background: url("../images/close_btn.png") no-repeat 0 0; cursor: pointer; }
.popup-text p { margin-bottom: 10px; }
.popup-text p:last-child { margin-bottom: 0; }