[% WRAPPER main_layout.tt 
    title = "Add new article"
%]

		<!-- add article -->
		<div class="add-article">

			<h3>Add article</h3>

			<form method="post" action="/submitAddArticle" id="add_article_form">
				<input type="text" class="fld" name="title" id="title" placeholder="Title">
				<textarea name="content" id="content" placeholder="Text"></textarea>
				<div class="btn-with-loader">
					<input type="submit" class="btn w-100p" id="add_article_send_btn" value="Add article">
					<div class="loader hidden" id="loader_add_article"></div>
				</div>
			</form>
			
		</div><!-- articles -->
[% END WRAPPER %]