<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!--[if lt IE 9]> <script src="/jss/html5shiv.js"></script> <![endif]-->
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

[% IF form.cookie eq '' or form.cookie == 0 %]
	<script type="text/javascript">
	<!--
		window.location = '/';
	//-->
	</script>
[% ELSE %]
<!-- page -->
<div class="page">


	<!-- header -->
	<header class="header">
		<div class="header-inner">

			<!-- logo -->
			<a href="/" class="logo">[% m('This is a PEF::Front Demo Blog') %]</a>
[% INCLUDE login.tt -%]
		</div>
	</header><!-- header -->


	<!-- main -->
	<main class="main">

[% rart = "get article with comments".model(id_article => 0 + form.cookie) %]
[% IF rart.result eq 'OK' %]

		<!-- articles -->
		<div class="articles">

			<!-- article -->
			<article class="article one-article" id="[% rart.article.id_article %]">
				<!-- text -->
				<div class="text">

					<h3><a href="#">[% rart.article.title %]</a></h3>

					<div class="btn-with-loader disp-ib btn-delete-article">
						<input type="submit" class="btn" id="delete_article_send_btn" value="Delete article">
						<div class="loader hidden" id="loader_delete_article"></div>
					</div>

					<p class="author">[% rart.article.author %]<time class="date">([% rart.article.pub_date %])</time></p>
					[% rart.article.content %]
					<input type="hidden" id="main_id_article" value="[% rart.article.id_article %]">
					<p><a href="#" id="leave_comment_for_article">Leave a comment</a></p>
				</div><!-- text -->
				<!-- comments -->
				<div class="comments">

					<!-- show comments link -->
					<div class="show-comments-box">
						<a href="#" class="show-comments-link">[% mn('$1 comment', rart.comments.size, rart.comments.size) %]</a>
					</div>

					<!-- comments list -->
					<div class="comments">
[% FOR comment in rart.comments %]
						<!-- comment -->
						<div class="comment" id="comment_[% comment.id_comment %]">
							<p><time class="date">([% comment.pub_date %])</time>[% comment.author %]</p>
							<p>[% comment.comment %]</p>
							<p class="comment-answer-link"><a href="#" class="leave-comment" id="leave_comment_[% comment.id_comment %]">leave a comment</a> | <a href="#" class="delete-comment" id="delete_comment_[% comment.id_comment %]">delete comment</a></p>
						</div>
						<!-- comment -->
[% END %]
					</div><!-- comments list -->

				</div><!-- comments -->
				<!-- comment form -->
				<div class="comment-form hidden" id="comment_form_box">
					<form method="post" action="/ajaxAddComment" id="comment_form">
						<input type="hidden" name="author" id="author" value="author">
						<input type="hidden" name="id_article" id="id_article">
						<input type="hidden" name="id_comment_parent" id="id_comment_parent">

						<textarea name="comment" id="comment"></textarea>
						<input type="hidden" name="captcha_hash" id="captcha_hash">
						<img src="../images/captcha.png">
						<input type="text" class="fld w-100" name="captcha_code" id="captcha_code" autocomplete="off">

						<div class="btn-with-loader disp-ib">
							<input type="submit" class="btn ml-10" id="add_comment_btn" value="Leave a comment">
							<div class="loader hidden" id="loader_add_comment"></div>
						</div>
					</form>
				</div><!-- comment form -->

			</article><!-- article -->

		
		</div><!-- articles -->
[% ELSE %]
<h1>[% rart.answer %]</h1>
[% END %]

	</main><!-- main -->


</div><!-- page -->


<!-- footer -->
<footer class="footer">
	<div class="footer-inner">

		<!-- site name -->
		<div class="site-name">PEF</div>

		<!-- copyrights -->
		<div class="copyrights">All rights reserved</div>

	</div>
</footer><!-- footer -->


<!-- popup -->
<div class="popup hidden" id="popup_box">
	<div class="popup-bg" id="popup_bg"></div>
	<div class="popup-box">
		<input type="button" class="popup-close" id="popup_close_btn" value="">
		<div class="popup-text" id="popup_text"></div>
	</div>
</div><!-- popup -->


<script type="text/javascript" src="/jss/lib/jquery-2.1.3.min.js"></script>

<script type="text/javascript" src="/jss/common/json.js"></script>
<script type="text/javascript" src="/jss/common/msg.js"></script>
<script type="text/javascript" src="/jss/common/popup.js"></script>
<script type="text/javascript" src="/jss/common/loader.js"></script>

<script type="text/javascript" src="/jss/login_form.js"></script>
<script type="text/javascript" src="/jss/add_article.js"></script>
<script type="text/javascript" src="/jss/article.js"></script>

[% END %]

</body>
</html>