[% WRAPPER main_layout.tt 
    title = m("Article")
%]
[% IF form.cookie eq '' or form.cookie == 0 %]
	<script type="text/javascript">
	<!--
		window.location = '/';
	//-->
	</script>
[% ELSE %]
  [% rart = "get article with comments".model(id_article => 0 + form.cookie) %]
  [% IF rart.result eq 'OK' %]

    [% author = "get author info".model -%]

		<!-- articles -->
		<div class="articles">

			<!-- article -->
			<article class="article one-article" id="article_[% rart.article.id_article %]">

				<input type="hidden" id="main_id_article" value="[% rart.article.id_article %]">
    [% IF author.result ne 'OK' -%]
				<input type="hidden" id="captcha_reload_url" value="/ajaxCaptcha">
				<input type="hidden" id="captcha_pic_path" value="[% config('www_static_captchas_path') %]">
	[% END IF -%]

				<!-- text -->
				<div class="text">

					<h3><a href="#">[% rart.article.title %]</a></h3>

					<form method="post" action="/ajaxDelArticle" class="ajax" id="delete_article_form">
						<input type="hidden" name="id_article" value="[% rart.article.id_article %]">
						<div class="btn-with-loader disp-ib btn-delete-article">
							<input type="submit" class="btn" value="[% m('Delete article') %]">
							<div class="loader hidden" id="loader_delete_article"></div>
						</div>
					</form>

					<p class="author">[% rart.article.author %] <time class="date">([% rart.article.pub_date %])</time></p>
					[% rart.article.content %]

					<p class="mt-20"><a href="#" id="leave_comment_for_article">[% m('Leave comment') %]</a></p>
				</div><!-- text -->

				<!-- comments -->
				<div class="comments">

					<!-- comments number -->
					<h6 class="comments-number" id="comments_number">[% mn('$1 comment', rart.comments.size, rart.comments.size) %]</h6>

					<!-- comments list -->
					<div id="comments">
    [% FOR comment in rart.comments -%]
    					<!-- comment -->
						<div class="comment" id="comment_[% comment.path.join('_') %]" style="margin-left: [% (comment.depth - 1) * 20 %]px;">
							<p class="author">[% comment.author %] <time class="date">([% comment.pub_date %])</time></p>
							<p>[% comment.comment %]</p>
							<form method="post" action="/ajaxDelCommentWithTree" class="delete-comment-form ajax">
								<input type="hidden" name="id_comment" value="[% comment.id_comment %]">
								<input type="button" class="btn leave-comment" value="[% m('Answer') %]"> | 
								<div class="btn-with-loader disp-ib">
									<input type="submit" class="btn delete-comment" value="[% m('Delete comment') %]">
									<div class="loader hidden" id="loader_delete_comment_[% comment.id_comment %]"></div>
								</div>
							</form>
						</div><!-- comment -->
    [% END -%]
					</div><!-- comments list -->

				</div><!-- comments -->

				<!-- comment template -->
				<div class="comment-template hidden" id="comment_template_box">
					<div class="comment" id="comment___path__" style="margin-left: __depth__px;">
						<p class="author">__author__ <time class="date">(__date__)</time></p>
						<p>__text__</p>
						<form method="post" action="/ajaxDelCommentWithTree" class="delete-comment-form ajax">
							<input type="hidden" name="id_comment" value="__id__">
							<input type="button" class="btn leave-comment" value="[% m('Answer') %]"> | 
							<div class="btn-with-loader disp-ib">
								<input type="submit" class="btn delete-comment" value="[% m('Delete comment') %]">
								<div class="loader hidden" id="loader_delete_comment___id__"></div>
							</div>
						</form>
					</div>
				</div><!-- comment template -->

				<!-- comment form -->
				<div class="comment-form hidden" id="comment_form_box">
					<form method="post" action="/ajaxAddComment" class="validate ajax" id="leave_comment_form">
						<input type="hidden" name="id_article" id="id_article" value="[% rart.article.id_article %]">
						<input type="hidden" name="id_comment_parent" id="id_comment_parent">
    [% IF author.result ne 'OK' -%]
    					<input type="text" class="fld" name="author" id="author" required minlength="1" maxlength="40" placehoder="m('Your name')">
	[% ELSE -%]
						<input type="hidden" name="author" value="[% author.login %]">
	[% END IF -%]
						<textarea name="comment" id="comment" required minlength="4" maxlength="1000" placehoder="m('Comment')"></textarea>
    [% IF author.result ne 'OK' -%]
        [% captcha="captcha".model() -%]
        				<input type="hidden" name="captcha_hash" id="captcha_hash_1" value="[% captcha.code %]">
						<img src="[% config('www_static_captchas_path') %][% captcha.code %].jpg" class="captcha-pic" id="captcha_pic_1">
						<input type="button" class="captcha-reload-btn" id="captcha_reload_btn_1">
						<input type="text" class="fld w-100 mr-10" name="captcha" id="captcha_1" autocomplete="off" required minlength="5" maxlength="7">
	[% ELSE -%]
						<input type="hidden" name="captcha_hash" id="captcha_hash_1" value="">
						<input type="hidden" name="captcha" value="nocheck">
	[% END IF -%]
						<div class="btn-with-loader disp-ib">
							<input type="submit" class="btn" id="add_comment_btn" value="[% m('Leave comment') %]">
							<div class="loader hidden" id="loader_add_comment"></div>
						</div>
					</form>
				</div><!-- comment form -->

			</article><!-- article -->

		
		</div><!-- articles -->
  [% ELSE %]
<h1>[% rart.answer %]</h1>
  [% END %]
[% END %]
[% END %]
