<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!--[if lt IE 9]> <script src="/jss/html5shiv.js"></script> <![endif]-->
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

[% IF form.cookie eq '' or form.cookie == 0 %]
	<script type="text/javascript">
	<!--
		window.location = '/';
	//-->
	</script>
[% ELSE %]
<!-- page -->
<div class="page">


	<!-- header -->
	<header class="header">
		<div class="header-inner">

			<!-- logo -->
			<a href="/" class="logo">[% m('This is a PEF::Front Demo Blog') %]</a>

		</div>
	</header><!-- header -->


	<!-- main -->
	<main class="main">

[% rart = "get article with comments".model(id_article => 0 + form.cookie) %]
[% IF rart.result eq 'OK' %]

		<!-- articles -->
		<div class="articles">

			<!-- article -->
			<article class="article">
				<!-- text -->
				<div class="text">

					<h3><a href="#">[% rart.article.title %]</a></h3>

					<p class="author">[% rart.article.author %]<time class="date">([% rart.article.pub_date %])</time></p>
					[% rart.article.content %]
				</div><!-- text -->
				<!-- comments -->
				<div class="comments">

					<!-- show comments link -->
					<div class="show-comments-box">
						<a href="#" class="show-comments-link">[% mn('$1 comment', rart.comments.size, rart.comments.size) %]</a>
					</div>

					<!-- comments list -->
					<div class="comments">
[% FOR comment in rart.comments %]
						<!-- comment -->
						<div class="comment" style="margin-left: [% comment.depth * 20 %]px;">
							<p><time class="date">([% comment.pub_date %])</time> [% comment.comment %]</p>
							<!-- [% comment.id_comment ~ "-" ~  comment.id_comment_parent ~ "-" comment.author %] -->
							<p class="comment-answer-link"><a href="#">leave comment</a></p>
						</div><!-- comment -->
[% END %]
					</div><!-- comments list -->

				</div><!-- comments -->

			</article><!-- article -->

		
		</div><!-- articles -->
[% ELSE %]
<h1>[% rart.answer %]</h1>
[% END %]

	</main><!-- main -->


</div><!-- page -->


<!-- footer -->
<footer class="footer">
	<div class="footer-inner">

		<!-- site name -->
		<div class="site-name">PEF</div>

		<!-- copyrights -->
		<div class="copyrights">All rights reserved</div>

	</div>
</footer><!-- footer -->


<script type="text/javascript" src="/jss/jquery-2.1.3.min.js"></script>

[% END %]

</body>
</html>