<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!--[if lt IE 9]> <script src="/jss/html5shiv.js"></script> <![endif]-->
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

[% IF form.cookie; articles_offset = 0 + form.cookie %]
[% ELSE; articles_offset = 0 %]
[% END %]

<!-- page -->
<div class="page">


	<!-- header -->
	<header class="header">
		<div class="header-inner">

			<!-- logo -->
			<a href="/" class="logo">[% m('This is a PEF::Front Demo Blog') %]</a>

		</div>
	</header><!-- header -->


	<!-- main -->
	<main class="main">


		<!-- articles -->
		<div class="articles">
[% articles = "get articles".model(offset => articles_offset, limit => 5) %]
[% FOR article IN articles.articles %]
			<!-- article -->
			<article class="article">

				<!-- text -->
				<div class="text">

					<h3><a href="/appArticle/[% article.id_article %]">[% article.title %]</a></h3>

					<p class="author">[% article.author %]<time class="date">([% article.pub_date %])</time></p>
					[% article.content %]

				</div><!-- text -->

			</article><!-- article -->
[% END %]
		</div><!-- articles -->
[% art_loc = "/" ~ path_info.split("/").1 %]
[% IF articles_offset >= 5 %]
  [% IF articles_offset == 5 %]
  <a href="[% art_loc %]">Next</a>
  [% ELSE %]
  <a href="[% art_loc %]/[% articles_offset - 5 %]">Next</a>
  [% END %]
[% END %]
[% IF articles.count > articles_offset + 5 %]
  <a href="[% art_loc %]/[% articles_offset + 5 %]">Previous</a>
[% END %]

	</main><!-- main -->


</div><!-- page -->


<!-- footer -->
<footer class="footer">
	<div class="footer-inner">

		<!-- site name -->
		<div class="site-name">PEF::Front Demo</div>

		<!-- copyrights -->
		<div class="copyrights">All rights reserved</div>

	</div>
</footer><!-- footer -->


<script type="text/javascript" src="/jss/jquery-2.1.3.min.js"></script>


</body>
</html>