[% WRAPPER main_layout.tt 
    title = m("Main page")
%]

[% IF form.cookie; articles_offset = 0 + form.cookie %]
[% ELSE; articles_offset = 0 %]
[% END %]
		<!-- articles -->
		<div class="articles">
[% articles = "get articles".model(offset => articles_offset, limit => 5) %]
[% FOR article IN articles.articles %]
			<!-- article -->
			<article class="article">

				<!-- text -->
				<div class="text">

					<h3><a href="/article/[% article.id_article %]">[% article.title %]</a></h3>

					<p class="author">[% article.author %]<time class="date">([% article.pub_date %])</time></p>
					[% article.content %]
					<h6 class="comments-number">[% mn('$1 comment', article.comment_count, article.comment_count) %]</h6>

				</div><!-- text -->
			</article><!-- article -->
[% END %]
		</div><!-- articles -->
[% art_loc = "/" ~ path_info.split("/").1 %]
[% IF articles_offset >= 5 %]
  [% IF articles_offset == 5 %]
  <a href="[% art_loc %]">[% m('Next') %]</a>
  [% ELSE %]
  <a href="[% art_loc %]/[% articles_offset - 5 %]">[% m('Next') %]</a>
  [% END %]
[% END %]
[% IF articles.count > articles_offset + 5 %]
  <a href="[% art_loc %]/[% articles_offset + 5 %]">[% m('Previous') %]</a>
[% END %]
[% END WRAPPER %]
